<div class="customContainer" xmlns="http://www.w3.org/1999/html">
<form  [formGroup]="loginForm"
(ngSubmit)="proceedLogin()">
    <div class="form-group">
      <label for="usernameOrEmail">Email address</label>
      <input type="email" class="form-control" id="usernameOrEmail" aria-describedby="emailHelp" placeholder="Enter email"
      formControlName="email">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    </div>
    <button  type="submit" class="btn btn-primary my-3">Submit</button>
  <br>
  <a routerLink="/registerForm">Register new account</a>
  </form>
</div>
